@import "fz.scss";
@import "reset.scss";
@import "theme.scss";
@import "flex.scss";
@import "animations.scss";

$commonUnit: 1.5rem;
$commonBorder: 0.0625rem solid $border;
$cardRadius: 1rem;
$cardShadow: rgba($dark, 0.1) 0rem 0.4375rem 1.8125rem 0rem;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: $gray;
}

::-webkit-scrollbar-thumb {
    background: $light;
    border: $commonBorder;
    border-radius: 0.25rem;
    max-height: 3.125rem;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 10%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-size: $large;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2;
    color: $primary;
    background-color: $light;
    position: relative;
    overscroll-behavior-y: none;
    overflow-y: auto !important;
    overflow-x: hidden;
}

a {
    font-size: inherit;
    text-decoration: none !important;
    color: $primary;
    transition: color 1s ease;
    cursor: pointer !important;

    &:focus,
    &:hover,
    &:visited {
        text-decoration: none;
        outline: 0;
    }

    &:hover {
        color: $dark;
        text-decoration: none;
    }
    &.link {
        color: $primary !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.0187rem;
    color: $dark;
    position: relative;
    margin-bottom: $commonUnit / 2;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}
p {
    margin-bottom: $commonUnit;
}
ol,
ul {
    padding-left: 2rem;
    // li {
    //      margin-bottom: $commonUnit / 2;
    // }
}
img {
    max-width: 100% !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.form-control,
.form-select {
    background-color: $white;
    border-color: $border !important;
    min-height: 3.4375rem;
}
.btn {
    font-size: $medium;
    font-weight: 600;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease;
    border-radius: $cardRadius / 5;
    transition: all 0.6s ease-in-out;

    // ----- SOLID BUTTONS -----
    &.btn-primary {
        color: $white !important;
        background-color: $primary;
        border-color: rgba($primary, 0.3);

        &:hover {
            background-color: darken($primary, 10%);
            border-color: darken($primary, 15%);
        }
    }

    &.btn-secondary {
        color: $white !important;
        background-color: $secondary;
        border-color: rgba($secondary, 0.3);

        &:hover {
            background-color: darken($secondary, 10%);
            border-color: darken($secondary, 15%);
        }
    }

    &.btn-tertiary {
        color: $white !important;
        background-color: $tertiary;
        border-color: rgba($tertiary, 0.3);

        &:hover {
            background-color: darken($tertiary, 10%);
            border-color: darken($tertiary, 15%);
        }
    }

    &.btn-success {
        color: $white !important;
        background-color: $success;
        border-color: rgba($success, 0.3);

        &:hover {
            background-color: darken($success, 10%);
            border-color: darken($success, 15%);
        }
    }

    &.btn-info {
        color: $dark !important;
        background-color: $info;
        border-color: rgba($info, 0.3);

        &:hover {
            background-color: darken($info, 10%);
            border-color: darken($info, 15%);
            color: $white !important;
        }
    }

    &.btn-warning {
        color: $dark !important;
        background-color: $warning;
        border-color: rgba($warning, 0.3);

        &:hover {
            background-color: darken($warning, 10%);
            border-color: darken($warning, 15%);
        }
    }

    &.btn-danger {
        color: $white !important;
        background-color: $danger;
        border-color: rgba($danger, 0.3);

        &:hover {
            background-color: darken($danger, 10%);
            border-color: darken($danger, 15%);
        }
    }

    &.btn-dark {
        color: $white !important;
        background-color: $dark;
        border-color: rgba($dark, 0.3);

        &:hover {
            background-color: lighten($dark, 10%);
            border-color: lighten($dark, 15%);
        }
    }

    &.btn-light {
        color: $dark !important;
        background-color: $light;
        border-color: rgba($light, 0.3);

        &:hover {
            background-color: darken($light, 5%);
            border-color: darken($light, 10%);
        }
    }

    // ----- OUTLINE BUTTONS -----
    &.btn-outline-primary {
        color: $primary;
        border-color: $primary;

        &:hover {
            background-color: $primary;
            color: $white !important;
        }
    }

    &.btn-outline-secondary {
        color: $secondary;
        border-color: $secondary;

        &:hover {
            background-color: $secondary;
            color: $white !important;
        }
    }

    &.btn-outline-tertiary {
        color: $tertiary;
        border-color: $tertiary;

        &:hover {
            background-color: $tertiary;
            color: $white !important;
        }
    }

    &.btn-outline-success {
        color: $success;
        border-color: $success;

        &:hover {
            background-color: $success;
            color: $white !important;
        }
    }

    &.btn-outline-info {
        color: $info;
        border-color: $info;

        &:hover {
            background-color: $info;
            color: $white !important;
        }
    }

    &.btn-outline-warning {
        color: $warning;
        border-color: $warning;

        &:hover {
            background-color: $warning;
            color: $dark !important;
        }
    }

    &.btn-outline-danger {
        color: $danger;
        border-color: $danger;

        &:hover {
            background-color: $danger;
            color: $white !important;
        }
    }

    &.btn-outline-dark {
        color: $dark;
        border-color: $dark;

        &:hover {
            background-color: $dark;
            color: $white !important;
        }
    }

    &.btn-outline-light {
        color: $dark;
        border-color: $light;

        &:hover {
            background-color: $light;
            color: $dark !important;
        }
    }

    // optional link style
    &.btn-link {
        color: $primary;
        border: none;
        background: none;
        padding: 0 !important;

        &:hover {
            text-decoration: underline;
            color: darken($primary, 10%);
        }
    }

    i {
        font-weight: normal !important;
    }
}
.btnGroup {
    @extend .flex-center-start;
    gap: $commonUnit;
}
// Section
section:not(.hero) {
    padding: 6.25rem 0;
    position: relative;

    &:nth-child(even) {
        background-color: $white;
    }
    &.noPadding {
        padding: 0 !important;
    }
    .container {
        position: relative;
        z-index: 2;
    }
}

.pgHeader {
    @extend .flex-end-between;
    flex-wrap: wrap;
    gap: $commonUnit;
    margin-bottom: $commonUnit * 2;
    position: relative;
    z-index: 2;

    .pgTitle {
        @extend .flex-start;
        flex-direction: column;
        flex-grow: 1;
        max-width: 53.125rem;

        h2 {
            font-size: $h2;
            margin: 0;

            span {
                color: $tertiary;
            }
        }
        h6 {
            font-weight: 400 !important;
            font-size: $h5;
            color: $primary;
        }
    }
    &.centered {
        @extend .flex-center;
        margin-left: auto;
        margin-right: auto;
        .pgTitle,
        .pgSection {
            @extend .flex-center;
        }
        h2,
        p {
            text-align: center;
        }
    }
    &.verticallyCentered {
        @extend .flex-start-center;
        flex-direction: column;
        height: 100%;
        margin-bottom: 0 !important;
    }
    &.full .pgTitle {
        max-width: 100%;
    }
    &.darkSection {
        .pgTitle {
            h2,
            h6 {
                color: $white;
            }
            p {
                color: $white;
                opacity: 0.6;
            }
        }
    }
    p {
        margin: 0;
    }
    .input-group {
        flex-grow: 1;
        width: auto !important;
    }
}
// Video Btn
.videoBtn {
    @extend .flex-center;
    $wh: 6.25rem;
    width: $wh;
    height: $wh;
    border: 0.125rem solid $white;
    border-radius: 50%;
    background-color: $white;
    background: linear-gradient(143.45deg, $white 13.89%, $light 84.75%);
    box-shadow: 0rem 0.1465rem 0.1465rem rgba(0, 0, 0, 0.25);
    animation: animateBtn 3s linear infinite;

    i {
        font-size: $h5;
        color: $dark;
    }
    @keyframes animateBtn {
        0% {
            box-shadow: 0 0 0 0 rgba($white, 0.3);
        }

        40% {
            box-shadow:
                0 0 0 0.75em rgba($white, 0.1),
                0 0 0 1.5em rgba($white, 0.3);
        }

        80% {
            box-shadow:
                0 0 0 1.25em rgba($white, 0.05),
                0 0 0 3em rgba($white, 0.15);
        }

        100% {
            box-shadow:
                0 0 0 2em rgba($white, 0),
                0 0 0 5em rgba($white, 0);
        }
    }
}
// Modal
.modal {
    .modal-content {
        border: none;
        overflow: hidden;
        .modal-header {
            background-color: $dark;

            h1 {
                font-size: $h5;
                font-weight: 600;
                color: $white;
            }
            .btn-close {
                background-color: $white !important;
                opacity: 1;
            }
        }
        .modal-body {
            padding: 0 !important;
        }
    }
}
// Search Modal
.searchModal {
    .modal-body {
        padding: 0;
    }
    .searchBar {
        @extend .flex-center-between;
        gap: $commonUnit;
        padding: $commonUnit;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: $white;
        box-shadow: 0 0 1.25rem rgba($color: $dark, $alpha: 0.1);

        .form-control {
            background-color: rgba($color: $primary, $alpha: 0.06);
            border: 0.0625rem solid $primary;
        }
    }
    .searchResult {
        list-style-type: none;
        margin: 0;
        padding: 0;
        ul {
            padding: 0;
        }
        .resultItem {
            background-color: $white;
            padding: $commonUnit / 2 $commonUnit;
            @extend .flex-center-between;
            gap: $commonUnit;
            cursor: pointer;
            border-bottom: $commonBorder;
            margin: 0;
            &:nth-child(odd) {
                background-color: $light;
            }
            a {
                @extend .flex-center-start;
                gap: $commonUnit / 2;

                .productIcon img {
                    $wh: 3.125rem;
                    width: $wh !important;
                    height: $wh !important;
                    padding: 0.25rem;
                    border: $commonBorder;
                    border-radius: 0.25rem;
                    @extend .flex-center;
                    img {
                        object-fit: cover;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .deleteItem {
                font-size: $large;
                color: $danger;
                cursor: pointer;
            }
            &:hover {
                background-color: $primary;

                span,
                .deleteItem {
                    color: $white !important;
                }
            }
        }
    }
    .nrs {
        @extend .flex-center;
        flex-direction: column;
        padding: $commonUnit;
        i {
            font-size: $h3;
            text-align: center;
            line-height: normal;
        }
        h6 {
            font-size: $h6;
            color: $primary;
            text-align: center;
            display: block;
        }
    }
}
// Enquiry Modal
.enquiryModal {
    .modal-header {
        background-color: $dark !important;
        padding: $commonUnit;
        h5 {
            font-size: $h5;
            color: $white !important;
        }
    }
    .modal-body {
        background-color: $light;
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        height: 100%; // ensure modal-body fills the modal

        form {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: hidden;
            width: 100%;

            .formElements {
                flex: 1 1 auto;
                overflow-y: auto;
                padding: $commonUnit * 2 $commonUnit * 2 0;
                width: 100%;
                max-height: none;

                .formGroup {
                    margin-bottom: $commonUnit / 2 !important;
                }

                .flag-icon {
                    width: 1.25rem;
                    height: 0.9375rem;
                    margin-right: 0.5rem;
                }

                .flag-select {
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                .input-group-text img {
                    width: 1.5rem;
                    height: 1.125rem;
                }

                label {
                    font-size: $large;
                    font-weight: 600;
                    display: block;
                    margin-bottom: 0.5rem;
                }
            }

            .btnGroup {
                flex-shrink: 0;
                @extend .flex-start;
                width: 100%;
                gap: $commonUnit / 2;
                padding: $commonUnit $commonUnit * 2 + 2;
            }
        }
    }
}

// Glossy Card
.glossyCard {
    background: linear-gradient(139.46deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.007);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    border: 1px solid $white;
    border-radius: $cardRadius;
}

// Breadcrumbs {
.breadcrumbs {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: top !important;
    background-size: contain !important;
    image-rendering: -webkit-optimize-contrast;
    -webkit-image-rendering: crisp-edges;
    image-rendering: crisp-edges;
    @extend .flex-start-center;
    flex-direction: column;
    height: 25rem;
    margin-top: 5rem;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(93.88deg, $dark 0%, rgba(0, 0, 50, 0.5) 100%);
    }
    .breadcrumbContent {
        position: relative;
        z-index: 2;

        h2 {
            font-size: $h4;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 0;
        }

        .breadcrumb {
            .breadcrumb-item {
                &.active {
                    color: $white;
                }
                + .breadcrumb-item::before {
                    color: $white;
                }
                a {
                    color: $secondary;
                }
                &.active {
                    color: $white;
                }
            }
        }
    }
}

// Nav Tabs
.nav-tabs {
    border: none;
    .nav-link {
        font-size: $medium;
        font-weight: 600;
        letter-spacing: 0.0375rem;
        text-transform: uppercase;
        padding: 0.75rem 1.5rem;
        color: $gray;
        background-color: $white;
        border: $commonBorder;
        border-radius: $cardRadius / 2;
        transition: all 0.6s ease-in-out;
        &.active,
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
}

// Swiper Gallery
.swiper {
    height: fit-content !important;
    .swiper-slide {
        img {
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: $cardRadius / 2;
            filter: grayscale(1);
            transition: all 0.6s linear;
        }
        &.swiper-slide-thumb-active {
            img {
                filter: grayscale(0);
            }
        }
    }
    &.projectGallery,
    &.testimonialGallery {
        padding: 0;
        margin-bottom: $commonUnit;
        border-radius: $commonUnit;
        overflow: hidden;

        .swiper-slide img {
            filter: grayscale(0) !important;
            width: 100% !important;
            // height: 25rem;
            margin: auto !important;
            object-fit: contain;
        }
    }
    &.projectThumbs {
        margin-bottom: 0;
        .swiper-slide {
            border: $commonBorder;
            padding: $commonUnit / 4;
            border-radius: $cardRadius;
            img {
                width: 100% !important;
                min-height: 5rem !important;
                max-height: 5rem !important;
            }
        }
    }
    &.testimonialThumbs {
        .swiper-slide {
            width: 6.25rem;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba($color: $dark, $alpha: 0.5);
        $wh: $commonUnit * 2;
        width: $wh !important;
        height: $wh !important;
        border-radius: 50%;
        transition: background 1s linear;
        &::after {
            font-size: $h5;
            font-weight: 600;
            color: $white;
        }
        &:hover {
            background-color: rgba($color: $dark, $alpha: 1);
            &::after {
                color: $white;
            }
        }
    }
    .swiper-wrapper {
        width: fit-content !important;
    }
}
