// Headings
$h1: 2.75rem;      // 44px
$h2: 2.375rem;     // 38px
$h3: 2rem;         // 32px
$h4: 1.625rem;     // 26px
$h5: 1.375rem;    // 22px
$h6: 1.25rem;     // 20px

// Font Sizes
$xSmall: 0.625rem; // 10px
$small: 0.75rem;   // 12px
$medium: 0.875rem; // 14px
$large: 1rem;      // 16px
$xLarge: 1.125rem; // 18px
