// Headings
$h1: 3.125rem;    // 50px
$h2: 2.75rem;     // 44px
$h3: 2.375rem;    // 38px
$h4: 2rem;        // 32px
$h5: 1.5rem;      // 24px
$h6: 1.25rem;     // 20px

// Font Sizes
$xSmall: 0.625rem; // 10px
$small: 0.75rem;   // 12px
$medium: 0.875rem; // 14px
$large: 1rem;      // 16px
$xLarge: 1.125rem; // 18px
