@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 5em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.dropdown-item {
  font-weight: 400;
}

.flex {
  display: flex;
}

.flex-center, footer .footerContent .footerCard .social a, .contactUs .contactCard .contactChip .icon, .ventures .ventureCard, .cta .ctaCard .ctaContent .roundedBtn .icon, .cta .ctaCard .ctaContent .roundedBtn, .missionVision .mvCard .mvHeader .icon, .projects .projectCard .projectHeader a, .stats .statCard, .whyUs .whyUsCard .icon, .collaborationCard, .hero .paginationContainer .navigation .swiper-button-next,
.hero .paginationContainer .navigation .swiper-button-prev, .hero .paginationContainer .navigation, .hero .heroSlide, .navbar .circleLink,
.navbar .circleBtn, .searchModal .nrs, .searchModal .searchResult .resultItem a .productIcon img, .videoBtn, .pgHeader.centered .pgTitle,
.pgHeader.centered .pgSection, .pgHeader.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between, footer .copyright .copyrightContent, .cta .ctaCard .ctaContent, .projects .projectCard .projectHeader, .hero .paginationContainer, .searchModal .searchResult .resultItem, .searchModal .searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-center-start, footer .copyright .copyrightContent .copyrightLinks, footer .footerContent .footerCard .social, .contactUs .contactCard .contactChip, .career .vacancyCard .vacancyHeader .vacancyMeta, .projectDetails .projectContainer .projectThumb, .missionVision .mvCard .mvHeader, .about .aboutVideo, .searchModal .searchResult .resultItem a, .btnGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-stretch-start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.flex-stretch-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.flex-stretch-end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.flex-start, .certificates .certificateCard figure, .whyUs .whyUsCard, .enquiryModal .modal-body form .btnGroup, .pgHeader .pgTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-start-between, .blogDetails .pagination {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-start-around {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-start-center, footer .footerContent .footerCard .footerLogo, .projectDetails .projectContainer, .breadcrumbs, .pgHeader.verticallyCentered {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-start-end {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}

.flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-end-between, .pgHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-end-around {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes scrollUp {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flagAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #6a6d83;
}

::-webkit-scrollbar-thumb {
  background: #f6f8ff;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.25rem;
  max-height: 3.125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(48.8397790055, 52.4309392265, 81.1602209945);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.2;
  color: #444971;
  background-color: #f6f8ff;
  position: relative;
  overscroll-behavior-y: none;
  overflow-y: auto !important;
  overflow-x: hidden;
}

a {
  font-size: inherit;
  text-decoration: none !important;
  color: #444971;
  transition: color 1s ease;
  cursor: pointer !important;
}
a:focus, a:hover, a:visited {
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #0e0f17;
  text-decoration: none;
}
a.link {
  color: #444971 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.0187rem;
  color: #0e0f17;
  position: relative;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.375rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.625rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.5rem;
}

ol,
ul {
  padding-left: 2rem;
}

img {
  max-width: 100% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.form-control,
.form-select {
  background-color: #ffffff;
  border-color: #e4e4e4 !important;
}

.btn {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  transition: all 0.6s ease-in-out;
}
.btn.btn-primary {
  color: #ffffff !important;
  background-color: #444971;
  border-color: rgba(68, 73, 113, 0.3);
}
.btn.btn-primary:hover {
  background-color: rgb(48.8397790055, 52.4309392265, 81.1602209945);
  border-color: rgb(39.2596685083, 42.1464088398, 65.2403314917);
}
.btn.btn-secondary {
  color: #ffffff !important;
  background-color: #415791;
  border-color: rgba(65, 87, 145, 0.3);
}
.btn.btn-secondary:hover {
  background-color: rgb(49.2142857143, 65.8714285714, 109.7857142857);
  border-color: rgb(41.3214285714, 55.3071428571, 92.1785714286);
}
.btn.btn-tertiary {
  color: #ffffff !important;
  background-color: #f1c143;
  border-color: rgba(241, 193, 67, 0.3);
}
.btn.btn-tertiary:hover {
  background-color: rgb(237.4653465347, 177.3465346535, 19.5346534653);
  border-color: rgb(215.4554455446, 160.4455445545, 16.0445544554);
}
.btn.btn-success {
  color: #ffffff !important;
  background-color: #06a25d;
  border-color: rgba(6, 162, 93, 0.3);
}
.btn.btn-success:hover {
  background-color: rgb(4.1785714286, 112.8214285714, 64.7678571429);
  border-color: rgb(3.2678571429, 88.2321428571, 50.6517857143);
}
.btn.btn-info {
  color: #0e0f17 !important;
  background-color: #679f9a;
  border-color: rgba(103, 159, 154, 0.3);
}
.btn.btn-info:hover {
  background-color: rgb(81.6774193548, 129.3225806452, 125.0685483871);
  border-color: rgb(71.8064516129, 113.6935483871, 109.9536290323);
  color: #ffffff !important;
}
.btn.btn-warning {
  color: #0e0f17 !important;
  background-color: #e2ca06;
  border-color: rgba(226, 202, 6, 0.3);
}
.btn.btn-warning:hover {
  background-color: rgb(176.3189655172, 157.5948275862, 4.6810344828);
  border-color: rgb(151.4784482759, 135.3922413793, 4.0215517241);
}
.btn.btn-danger {
  color: #ffffff !important;
  background-color: #f11702;
  border-color: rgba(241, 23, 2, 0.3);
}
.btn.btn-danger:hover {
  background-color: rgb(190.4197530864, 18.1728395062, 1.5802469136);
  border-color: rgb(165.1296296296, 15.7592592593, 1.3703703704);
}
.btn.btn-dark {
  color: #ffffff !important;
  background-color: #0e0f17;
  border-color: rgba(14, 15, 23, 0.3);
}
.btn.btn-dark:hover {
  background-color: rgb(33.2972972973, 35.6756756757, 54.7027027027);
  border-color: rgb(42.9459459459, 46.0135135135, 70.5540540541);
}
.btn.btn-light {
  color: #0e0f17 !important;
  background-color: #f6f8ff;
  border-color: rgba(246, 248, 255, 0.3);
}
.btn.btn-light:hover {
  background-color: rgb(220.5, 228.1666666667, 255);
  border-color: rgb(195, 208.3333333333, 255);
}
.btn.btn-outline-primary {
  color: #444971;
  border-color: #444971;
}
.btn.btn-outline-primary:hover {
  background-color: #444971;
  color: #ffffff !important;
}
.btn.btn-outline-secondary {
  color: #415791;
  border-color: #415791;
}
.btn.btn-outline-secondary:hover {
  background-color: #415791;
  color: #ffffff !important;
}
.btn.btn-outline-tertiary {
  color: #f1c143;
  border-color: #f1c143;
}
.btn.btn-outline-tertiary:hover {
  background-color: #f1c143;
  color: #ffffff !important;
}
.btn.btn-outline-success {
  color: #06a25d;
  border-color: #06a25d;
}
.btn.btn-outline-success:hover {
  background-color: #06a25d;
  color: #ffffff !important;
}
.btn.btn-outline-info {
  color: #679f9a;
  border-color: #679f9a;
}
.btn.btn-outline-info:hover {
  background-color: #679f9a;
  color: #ffffff !important;
}
.btn.btn-outline-warning {
  color: #e2ca06;
  border-color: #e2ca06;
}
.btn.btn-outline-warning:hover {
  background-color: #e2ca06;
  color: #0e0f17 !important;
}
.btn.btn-outline-danger {
  color: #f11702;
  border-color: #f11702;
}
.btn.btn-outline-danger:hover {
  background-color: #f11702;
  color: #ffffff !important;
}
.btn.btn-outline-dark {
  color: #0e0f17;
  border-color: #0e0f17;
}
.btn.btn-outline-dark:hover {
  background-color: #0e0f17;
  color: #ffffff !important;
}
.btn.btn-outline-light {
  color: #0e0f17;
  border-color: #f6f8ff;
}
.btn.btn-outline-light:hover {
  background-color: #f6f8ff;
  color: #0e0f17 !important;
}
.btn.btn-link {
  color: #444971;
  border: none;
  background: none;
  padding: 0 !important;
}
.btn.btn-link:hover {
  text-decoration: underline;
  color: rgb(48.8397790055, 52.4309392265, 81.1602209945);
}
.btn i {
  font-weight: normal !important;
}

.btnGroup {
  gap: 1.5rem;
}

section:not(.hero) {
  padding: 4.375rem 0;
  position: relative;
}
section:not(.hero):nth-child(even) {
  background-color: #ffffff;
}
section:not(.hero).noPadding {
  padding: 0 !important;
}
section:not(.hero) .container {
  position: relative;
  z-index: 2;
}

.pgHeader {
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}
.pgHeader .pgTitle {
  flex-direction: column;
  flex-grow: 1;
  max-width: 53.125rem;
}
.pgHeader .pgTitle h2 {
  font-size: 2.375rem;
  margin: 0;
}
.pgHeader .pgTitle h2 span {
  color: #f1c143;
}
.pgHeader .pgTitle h6 {
  font-weight: 400 !important;
  font-size: 1.375rem;
  color: #444971;
}
.pgHeader.centered {
  margin-left: auto;
  margin-right: auto;
}
.pgHeader.centered h2,
.pgHeader.centered p {
  text-align: center;
}
.pgHeader.verticallyCentered {
  flex-direction: column;
  height: 100%;
  margin-bottom: 0 !important;
}
.pgHeader.full .pgTitle {
  max-width: 100%;
}
.pgHeader.darkSection .pgTitle h2,
.pgHeader.darkSection .pgTitle h6 {
  color: #ffffff;
}
.pgHeader.darkSection .pgTitle p {
  color: #ffffff;
  opacity: 0.6;
}
.pgHeader p {
  margin: 0;
}
.pgHeader .input-group {
  flex-grow: 1;
  width: auto !important;
}

.videoBtn {
  width: 6.25rem;
  height: 6.25rem;
  border: 0.125rem solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  background: linear-gradient(143.45deg, #ffffff 13.89%, #f6f8ff 84.75%);
  box-shadow: 0rem 0.1465rem 0.1465rem rgba(0, 0, 0, 0.25);
  animation: animateBtn 3s linear infinite;
}
.videoBtn i {
  font-size: 1.375rem;
  color: #0e0f17;
}
@keyframes animateBtn {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  40% {
    box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0.1), 0 0 0 1.5em rgba(255, 255, 255, 0.3);
  }
  80% {
    box-shadow: 0 0 0 1.25em rgba(255, 255, 255, 0.05), 0 0 0 3em rgba(255, 255, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0), 0 0 0 5em rgba(255, 255, 255, 0);
  }
}

.modal .modal-content {
  border: none;
  overflow: hidden;
}
.modal .modal-content .modal-header {
  background-color: #0e0f17;
}
.modal .modal-content .modal-header h1 {
  font-size: 1.375rem;
  font-weight: 600;
  color: #ffffff;
}
.modal .modal-content .modal-header .btn-close {
  background-color: #ffffff !important;
  opacity: 1;
}
.modal .modal-content .modal-body {
  padding: 0 !important;
}

.searchModal .modal-body {
  padding: 0;
}
.searchModal .searchBar {
  gap: 1.5rem;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(14, 15, 23, 0.1);
}
.searchModal .searchBar .form-control {
  background-color: rgba(68, 73, 113, 0.06);
  border: 0.0625rem solid #444971;
}
.searchModal .searchResult {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.searchModal .searchResult ul {
  padding: 0;
}
.searchModal .searchResult .resultItem {
  background-color: #ffffff;
  padding: 0.75rem 1.5rem;
  gap: 1.5rem;
  cursor: pointer;
  border-bottom: 0.0625rem solid #e4e4e4;
  margin: 0;
}
.searchModal .searchResult .resultItem:nth-child(odd) {
  background-color: #f6f8ff;
}
.searchModal .searchResult .resultItem a {
  gap: 0.75rem;
}
.searchModal .searchResult .resultItem a .productIcon img {
  width: 3.125rem !important;
  height: 3.125rem !important;
  padding: 0.25rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.25rem;
}
.searchModal .searchResult .resultItem a .productIcon img img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}
.searchModal .searchResult .resultItem .deleteItem {
  font-size: 1rem;
  color: #f11702;
  cursor: pointer;
}
.searchModal .searchResult .resultItem:hover {
  background-color: #444971;
}
.searchModal .searchResult .resultItem:hover span,
.searchModal .searchResult .resultItem:hover .deleteItem {
  color: #ffffff !important;
}
.searchModal .nrs {
  flex-direction: column;
  padding: 1.5rem;
}
.searchModal .nrs i {
  font-size: 2rem;
  text-align: center;
  line-height: normal;
}
.searchModal .nrs h6 {
  font-size: 1.25rem;
  color: #444971;
  text-align: center;
  display: block;
}

.enquiryModal .modal-header {
  background-color: #0e0f17 !important;
  padding: 1.5rem;
}
.enquiryModal .modal-header h5 {
  font-size: 1.375rem;
  color: #ffffff !important;
}
.enquiryModal .modal-body {
  background-color: #f6f8ff;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.enquiryModal .modal-body form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
}
.enquiryModal .modal-body form .formElements {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 3rem 3rem 0;
  width: 100%;
  max-height: none;
}
.enquiryModal .modal-body form .formElements .formGroup {
  margin-bottom: 0.75rem !important;
}
.enquiryModal .modal-body form .formElements .flag-icon {
  width: 1.25rem;
  height: 0.9375rem;
  margin-right: 0.5rem;
}
.enquiryModal .modal-body form .formElements .flag-select {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.enquiryModal .modal-body form .formElements .input-group-text img {
  width: 1.5rem;
  height: 1.125rem;
}
.enquiryModal .modal-body form .formElements label {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}
.enquiryModal .modal-body form .btnGroup {
  flex-shrink: 0;
  width: 100%;
  gap: 0.75rem;
  padding: 1.5rem 5rem;
}

.glossyCard {
  background: linear-gradient(139.46deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.007);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  border: 0.0625rem solid #ffffff;
  border-radius: 1rem;
}

.breadcrumbs {
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: cover !important;
  image-rendering: -webkit-optimize-contrast;
  -webkit-image-rendering: crisp-edges;
  image-rendering: crisp-edges;
  flex-direction: column;
  height: 25rem;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}
.breadcrumbs::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(93.88deg, #0e0f17 0%, transparent 100%);
}
.breadcrumbs .breadcrumbContent {
  position: relative;
  z-index: 2;
}
.breadcrumbs .breadcrumbContent h2 {
  font-size: 1.625rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}
.breadcrumbs .breadcrumbContent .breadcrumb .breadcrumb-item.active {
  color: #ffffff;
}
.breadcrumbs .breadcrumbContent .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}
.breadcrumbs .breadcrumbContent .breadcrumb .breadcrumb-item a {
  color: #415791;
}
.breadcrumbs .breadcrumbContent .breadcrumb .breadcrumb-item.active {
  color: #ffffff;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  color: #6a6d83;
  background-color: #ffffff;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
  transition: all 0.6s ease-in-out;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  color: #ffffff;
  background-color: #444971;
}

.swiper {
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.swiper .swiper-slide img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.5rem;
  filter: grayscale(1);
  transition: all 0.6s linear;
}
.swiper .swiper-slide.swiper-slide-thumb-active img {
  filter: grayscale(0);
}
.swiper.projectGallery, .swiper.testimonialGallery, .swiper.collaborationSwiper {
  padding: 0;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.swiper.projectGallery .swiper-slide img, .swiper.testimonialGallery .swiper-slide img, .swiper.collaborationSwiper .swiper-slide img {
  filter: grayscale(0) !important;
  width: 100% !important;
  margin: auto !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper.projectThumbs {
  margin-bottom: 0;
}
.swiper.projectThumbs .swiper-slide {
  border: 0.0625rem solid #e4e4e4;
  padding: 0.375rem;
  border-radius: 1rem;
}
.swiper.projectThumbs .swiper-slide img {
  width: 100% !important;
  min-height: 5rem !important;
  max-height: 5rem !important;
}
.swiper.testimonialThumbs .swiper-slide {
  width: 6.25rem;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  background-color: rgba(14, 15, 23, 0.5);
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  transition: background 1s linear;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 1.375rem;
  font-weight: 600;
  color: #ffffff;
}
.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  background-color: #0e0f17;
}
.swiper .swiper-button-next:hover::after,
.swiper .swiper-button-prev:hover::after {
  color: #ffffff;
}
.swiper .swiper-wrapper {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(14, 15, 23, 0.1);
}
.navbar .nav-link,
.navbar .dropdown-item {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #6a6d83;
  transition: color 0.3s ease;
}
.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #0e0f17;
}
.navbar .circleLink,
.navbar .circleBtn {
  background-color: #f6f8ff;
  transition: all 0.3s ease;
}
.navbar .circleLink i,
.navbar .circleBtn i {
  font-size: 1.4375rem;
}
.navbar .circleLink:hover,
.navbar .circleBtn:hover {
  background-color: #0e0f17;
  color: #ffffff !important;
}
.navbar .circleLink:hover i,
.navbar .circleBtn:hover i {
  color: #ffffff;
}
.navbar .circleLink {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.navbar .circleBtn {
  border-radius: 2rem;
  padding: 0.75rem 1.5rem !important;
  gap: 0.5rem;
}

.hero {
  min-height: 100vh;
}
.hero .swiper-slide {
  width: 100% !important;
}
.hero .swiper-slide img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0) !important;
}
.hero .heroSlide {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}
.hero .heroSlide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 15, 23, 0.05);
  content: "";
  z-index: 0;
}
.hero .heroSlide .heroContent {
  position: relative;
  z-index: 2;
  max-width: 40.625rem;
}
.hero .heroSlide .heroContent h6,
.hero .heroSlide .heroContent h1,
.hero .heroSlide .heroContent p {
  color: #ffffff;
}
.hero .heroSlide .heroContent h6 {
  background: #0e0f17;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3333333333rem;
  display: inline-block;
}
.hero .heroSlide .heroContent h1 {
  font-size: 2.75rem;
  font-weight: 800;
}
.hero .paginationContainer {
  position: absolute;
  bottom: 6.25rem;
  width: 70%;
  margin: 0 15%;
}
.hero .paginationContainer .swiper-pagination {
  position: static !important;
}
.hero .paginationContainer .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
}
.hero .paginationContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #415791;
}
.hero .paginationContainer .navigation {
  gap: 1.5rem;
}
.hero .paginationContainer .navigation .swiper-button-next,
.hero .paginationContainer .navigation .swiper-button-prev {
  position: static !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50%;
  color: #0e0f17;
}
.hero .paginationContainer .navigation .swiper-button-next::after,
.hero .paginationContainer .navigation .swiper-button-prev::after {
  font-size: 0.875rem;
  font-weight: 600;
}

.about h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}
.about h2 span {
  font-weight: 500;
}
.about p {
  max-width: 52rem;
}
.about .aboutVideo {
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 4.5rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 0.75rem solid #ffffff;
}
.about .aboutVideo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 15, 23, 0.5);
  content: "";
  z-index: 1;
}
.about .aboutVideo .videoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.about::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #ffffff;
  content: "";
  z-index: 1;
}

.collaborationCard {
  background-color: #ffffff;
  padding: 0.75rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  min-height: 10rem;
}
.collaborationCard img {
  max-width: 70% !important;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.whyUs .whyUsCard {
  background-color: #ffffff;
  flex-direction: column;
  gap: 1.5rem;
  background: #ffffff;
  padding: 1.5rem;
  height: 100%;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.75rem;
}
.whyUs .whyUsCard .icon {
  min-width: 5rem;
  min-height: 5rem;
  background: #444971;
  border-radius: 50%;
}
.whyUs .whyUsCard .icon i {
  font-size: 2rem;
  color: #ffffff;
}
.whyUs .whyUsCard .whyUsContent h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0e0f17;
  margin-bottom: 0.5rem;
}
.whyUs .whyUsCard .whyUsContent p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.stats .statCard {
  background-color: #ffffff;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 1rem;
}
.stats .statCard i {
  font-size: 3.5rem;
  color: #444971;
}
.stats .statCard .statContent {
  text-align: center;
}
.stats .statCard .statContent h3 {
  font-size: 2.375rem;
  color: #0e0f17;
  margin: 0;
}
.stats .statCard .statContent h3::after {
  content: "+";
}
.stats .statCard .statContent p {
  font-size: 0.875rem;
  color: #6a6d83;
  margin: 0;
}

.projects .projectCard {
  position: relative;
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 0%, white 100%);
  padding: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 1rem;
  transition: all 0.6s linear;
  height: 100%;
}
.projects .projectCard .projectHeader {
  margin-bottom: 1.5rem;
}
.projects .projectCard .projectHeader h3 {
  font-size: 1.25rem;
}
.projects .projectCard .projectHeader a {
  font-size: 1.125rem;
  color: #0e0f17;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #ffffff;
}
.projects .projectCard .projectMedia {
  border-radius: 1rem;
  overflow: hidden;
}
.projects .projectCard .projectMedia img {
  display: block;
  transition: all 0.6s linear;
}
.projects .projectCard:hover {
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 60%, rgba(14, 15, 23, 0.3) 100%);
}
.projects .projectCard:hover a {
  background-color: #0e0f17;
  color: #ffffff;
}
.projects .projectCard:hover figure img {
  transform: scale(1.1);
}

.blogs .blogCard {
  position: relative;
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 0%, white 100%);
  padding: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 1rem;
  transition: all 0.6s linear;
}
.blogs .blogCard .blogMedia {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.blogs .blogCard .blogMedia img {
  display: block;
  transition: all 0.6s linear;
}
.blogs .blogCard .blogBody h3 {
  font-size: 1.25rem;
}
.blogs .blogCard:hover {
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 60%, rgba(14, 15, 23, 0.3) 100%);
}
.blogs .blogCard:hover figure img {
  transform: scale(1.1);
}

.testimonials .testimonialContainer {
  position: relative;
  background: #ffffff;
  padding: 3rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 1rem;
  transition: all 0.6s linear;
  overflow: hidden;
}
.testimonials .testimonialContainer .testimonialCard {
  max-width: 56.25rem;
  margin: 0 auto;
}
.testimonials .testimonialContainer .testimonialCard p {
  font-size: 1.25rem;
  text-align: center;
}
.testimonials .testimonialContainer .testimonialCard .userInfo {
  text-align: center;
}
.testimonials .testimonialContainer .testimonialCard .userInfo h6 {
  font-size: 1.375rem;
  margin-bottom: 0;
}
.testimonials .testimonialContainer .testimonialCard .userInfo small {
  font-size: 1rem;
  font-weight: 700;
  display: block;
}
.testimonials .testimonialContainer .swiper.testimonialThumbs .swiper-slide {
  opacity: 0.7;
}
.testimonials .testimonialContainer .swiper.testimonialThumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.certificates .certificateCard {
  background-color: #ffffff;
  height: 100%;
  display: block;
  padding: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 1rem;
}
.certificates .certificateCard figure {
  margin-bottom: 0.75rem;
  min-height: 18.75rem;
}
.certificates .certificateCard figure img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  transition: transform 0.8s ease;
  border-radius: 1rem;
}
.certificates .certificateCard h6 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}
.certificates .certificateCard:hover {
  box-shadow: rgba(14, 15, 23, 0.1) 0rem 0.4375rem 1.8125rem 0rem;
}

.aboutUs .pgHeader {
  margin: 0;
}
.aboutUs .aboutImgContainer {
  border-radius: 2rem;
  overflow: hidden;
  border: 0.75rem solid #ffffff;
}
.aboutUs .aboutImgContainer img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.missionVision {
  background-color: #444971 !important;
}
.missionVision::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url(../media/mission-bg.jpg) no-repeat center/cover fixed;
}
.missionVision .container {
  position: relative;
  z-index: 1;
}
.missionVision .mvCard {
  background: linear-gradient(142deg, rgba(14, 15, 23, 0.02) 24%, rgba(14, 15, 23, 0.05) 100%);
  -webkit-backdrop-filter: blur(0.3125rem);
  backdrop-filter: blur(0.3125rem);
  padding: 3rem;
  height: 100%;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}
.missionVision .mvCard .mvHeader {
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}
.missionVision .mvCard .mvHeader .icon {
  width: 4.375rem;
  height: 4.375rem;
  background: #0e0f17;
  border-radius: 50%;
}
.missionVision .mvCard .mvHeader .icon i {
  font-size: 2rem;
  color: #ffffff;
}
.missionVision .mvCard .mvHeader h3 {
  font-size: 1.375rem;
  color: #ffffff;
}
.missionVision .mvCard .mvBody p {
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #ffffff;
}

.gridGallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1rem auto;
}
.gridGallery figure {
  overflow: hidden;
  position: relative;
  margin: 0 !important;
}
.gridGallery figure img {
  opacity: 1;
  transition: linear 1s;
  width: 100% !important;
}
.gridGallery figure img[data-src] {
  opacity: 0;
}
.gridGallery figure:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}
.gridGallery figure .projectCaption {
  position: absolute;
  left: 0;
  bottom: 1.25rem;
  content: "";
  z-index: 2;
  min-width: 80%;
  padding: 1.5625rem 1.5625rem 1.5625rem 0.9375rem;
  background-color: #0e0f17;
  transform: translateX(-110%);
  transition: all 0.4s;
  display: none;
}
.gridGallery figure .projectCaption span {
  color: #444971;
}
.gridGallery figure .projectCaption h4 {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}
.gridGallery figure:hover .projectCaption {
  transform: translateX(0%);
}

img.mfp-img {
  height: 100% !important;
}

.cta .ctaCard {
  background-color: #444971;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  padding: 3rem;
}
.cta .ctaCard::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url(../media/cta-bg.jpg) no-repeat center/cover fixed;
}
.cta .ctaCard .ctaContent {
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.cta .ctaCard .ctaContent .ctaText h2 {
  color: #ffffff;
  margin-bottom: 0;
}
.cta .ctaCard .ctaContent .ctaText p {
  color: #ffffff;
}
.cta .ctaCard .ctaContent .roundedBtn {
  flex-wrap: nowrap;
  gap: 0.5rem;
  background-color: #ffffff;
  border-radius: 4rem;
}
.cta .ctaCard .ctaContent .roundedBtn .icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #0e0f17;
}
.cta .ctaCard .ctaContent .roundedBtn .icon i {
  font-size: 1rem;
  color: #ffffff;
}

.projectDetails .projectContainer {
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
}
.projectDetails .projectContainer .projectThumb {
  gap: 0.75rem;
  flex-grow: 1;
  width: 100%;
  padding: 0.75rem;
  background-color: #ffffff;
  cursor: pointer;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
}
.projectDetails .projectContainer .projectThumb .projectImg {
  min-width: 4.375rem;
  max-width: 4.375rem;
  height: 4.375rem;
  display: block;
  overflow: hidden;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.3333333333rem;
}
.projectDetails .projectContainer .projectThumb .projectImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectDetails .projectContainer .projectThumb .projectInfo {
  flex-grow: 1;
}
.projectDetails .projectContainer .projectThumb .projectInfo h3 {
  font-size: 1rem;
  line-height: normal;
  margin-bottom: 0;
}
.projectDetails .projectContainer .projectThumb:hover, .projectDetails .projectContainer .projectThumb.active {
  background-color: #0e0f17;
}
.projectDetails .projectContainer .projectThumb:hover .projectInfo h3, .projectDetails .projectContainer .projectThumb.active .projectInfo h3 {
  color: #ffffff;
}

.blogDetails h1 {
  font-size: 2.375rem;
  font-weight: 700;
}
.blogDetails .blogHero {
  margin: 3rem 0;
  overflow: hidden;
}
.blogDetails .blogHero img {
  width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  max-height: 31.25rem;
  -o-object-position: center;
     object-position: center;
}
.blogDetails article p {
  text-align: justify;
  -moz-text-align-last: left;
       text-align-last: left;
}
.blogDetails article p.lead,
.blogDetails article p:empty,
.blogDetails article div:empty,
.blogDetails article div:has(br:only-child) {
  display: none;
}
.blogDetails article ol ul:has(li) p,
.blogDetails article ol ul:has(li) p > span {
  font-size: inherit !important;
  margin-bottom: 0;
}
.blogDetails .pagination {
  gap: 1.5rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
}
.blogDetails .pagination .next,
.blogDetails .pagination .previous {
  background-color: #f6f8ff;
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 0.5rem;
}
.blogDetails .pagination .previous {
  text-align: left;
}
.blogDetails .pagination .next {
  text-align: right;
}
.blogDetails .pagination a {
  display: block;
}
.blogDetails .pagination .paginationLink {
  font-size: 1.125rem;
  font-weight: 600;
  color: #444971;
}
.blogDetails .pagination .titleLink {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0e0f17;
  margin-top: 1.5rem;
}
.blogDetails .pagination .titleLink:hover {
  color: #0e0f17;
}

.career .vacancyCard {
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
}
.career .vacancyCard .vacancyMedia {
  margin-bottom: 1.5rem;
  overflow: hidden;
  border-radius: 1rem;
}
.career .vacancyCard .vacancyHeader {
  margin-bottom: 0.75rem;
}
.career .vacancyCard .vacancyHeader h3 {
  font-size: 1.25rem;
  margin: 0;
}
.career .vacancyCard .vacancyHeader .vacancyMeta {
  gap: 0.75rem;
}
.career .vacancyCard .vacancyBody p {
  font-size: 0.875rem;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#careerModal .modal-body {
  max-height: 100vh;
  overflow: hidden;
}
#careerModal .careerForm,
#careerModal .careerPopupContent {
  position: relative;
  padding: 2.5rem;
  min-height: 100% !important;
  max-height: calc(100vh - 6.25rem);
  overflow-y: auto;
  overflow-x: hidden;
}
#careerModal .careerForm::-webkit-scrollbar,
#careerModal .careerPopupContent::-webkit-scrollbar {
  width: 6px;
}
#careerModal .careerForm::-webkit-scrollbar-track,
#careerModal .careerPopupContent::-webkit-scrollbar-track {
  background: transparent;
}
#careerModal .careerForm::-webkit-scrollbar-thumb,
#careerModal .careerPopupContent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
#careerModal .careerPopupContent {
  background-color: #ffffff;
}
#careerModal .careerPopupContent h1,
#careerModal .careerPopupContent h2,
#careerModal .careerPopupContent h3,
#careerModal .careerPopupContent h4,
#careerModal .careerPopupContent h5,
#careerModal .careerPopupContent h6 {
  margin-bottom: 0.75rem;
}
#careerModal .careerPopupContent h1 {
  font-size: 1.8333333333rem;
}
#careerModal .careerPopupContent h2 {
  font-size: 1.5833333333rem;
}
#careerModal .careerPopupContent h3 {
  font-size: 1.3333333333rem;
}
#careerModal .careerPopupContent h4 {
  font-size: 1.0833333333rem;
}
#careerModal .careerPopupContent h5 {
  font-size: 0.9166666667rem;
}
#careerModal .careerPopupContent h6 {
  font-size: 0.8333333333rem;
}
#careerModal .careerPopupContent p {
  line-height: 1.6;
  color: #6a6d83;
}
#careerModal .careerPopupContent ul {
  padding-left: 1.25rem;
}
#careerModal .careerPopupContent ul li {
  margin-bottom: 0.5rem;
}
#careerModal .careerForm {
  background-color: #f6f8ff;
  border-left: 1px solid #e4e4e4;
}
#careerModal .careerForm .form-floating {
  margin-bottom: 1rem;
}
#careerModal .careerForm .uploadWrapper {
  margin: 1.5rem 0;
}
#careerModal .careerForm .dropZone {
  text-align: center;
  background: #ffffff;
  padding: 2.25rem;
  cursor: pointer;
  border: 2px dashed #e4e4e4;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
#careerModal .careerForm .dropZone:hover {
  border-color: #444971;
  background: rgb(202.4331491713, 204.7591160221, 223.3668508287);
}
#careerModal .careerForm .dropZone.active {
  border-color: #444971;
  background: rgb(192.8812154696, 195.6298342541, 217.6187845304);
  transform: scale(0.99);
}
#careerModal .careerForm .dropZone.error {
  border-color: #f11702;
  background: rgb(254.8172839506, 234.9012345679, 232.9827160494);
}
#careerModal .careerForm .zoneIcon {
  font-size: 1.125rem;
  color: #444971;
  display: block;
  margin-bottom: 10px;
}
#careerModal .careerForm .zoneContent p {
  font-size: 1.125rem;
  margin: 0;
  font-weight: 600;
}
#careerModal .careerForm .zoneContent small {
  color: #6a6d83;
  font-size: 0.85rem;
}
#careerModal .careerForm .fileInfo {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: #444971;
  margin-top: 1.5rem;
}

.modal .modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}

.ventures .ventureCard {
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 0;
  border: none;
  border-right: 0.0625rem solid #e4e4e4;
  border-radius: 0;
  box-shadow: none;
}
.ventures .ventureCard::after {
  width: 85%;
  height: 1px;
  margin: 0 auto;
  left: -8%;
  right: 0;
  bottom: -1.625rem;
  display: block;
  position: absolute;
  content: "";
  background: #e4e4e4;
}
.ventures .ventureCard img {
  max-width: 80% !important;
  display: block;
  margin: 0 auto;
}
.ventures > [class^=col-]:nth-child(5n) .ventureCard,
.ventures > [class*=" col-"]:nth-child(5n) .ventureCard {
  border-right: none;
}
.ventures > [class^=col-]:nth-child(n+6) .ventureCard,
.ventures > [class*=" col-"]:nth-child(n+6) .ventureCard {
  margin-bottom: 0;
}
.ventures > [class^=col-]:nth-child(n+6) .ventureCard::after,
.ventures > [class*=" col-"]:nth-child(n+6) .ventureCard::after {
  display: none;
}

.contactUs .addressCard {
  background-color: #f6f8ff;
  height: 100%;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0.5rem;
  overflow: hidden;
}
.contactUs .addressCard .addressHeader {
  padding: 0.75rem 1.5rem;
  background-color: #444971;
}
.contactUs .addressCard .addressHeader h5 {
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
}
.contactUs .addressCard .addressBody {
  padding: 1.5rem;
}
.contactUs .addressCard .addressBody address {
  font-size: 1.125rem;
  color: #0e0f17;
  margin: 0;
}
.contactUs .contactCard {
  background-color: #ffffff;
  height: 100%;
  padding: 3rem;
  border-radius: 1rem;
}
.contactUs .contactCard .pgHeader {
  margin-bottom: 1.5rem;
}
.contactUs .contactCard.form {
  background-color: #ffffff;
  border: 0.0625rem solid #e4e4e4;
  box-shadow: rgba(14, 15, 23, 0.1) 0rem 0.4375rem 1.8125rem 0rem;
}
.contactUs .contactCard h3 {
  margin-bottom: 3rem;
}
.contactUs .contactCard .contactChip {
  background-color: #f6f8ff;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.contactUs .contactCard .contactChip .icon {
  min-width: 4.375rem;
  min-height: 4.375rem;
  background-color: #444971;
  border-radius: 1rem;
}
.contactUs .contactCard .contactChip .icon i {
  font-size: 1.6rem;
  color: #ffffff;
}
.contactUs .contactCard .contactChip .contactDetail h5 {
  font-size: 1.375rem;
  color: #0e0f17;
  display: block;
  margin-bottom: 0.5rem;
}
.contactUs .contactCard .contactChip .contactDetail span,
.contactUs .contactCard .contactChip .contactDetail a {
  font-weight: 500;
  color: #0e0f17 !important;
  line-height: 1.3;
  display: block;
  margin-bottom: 0;
}

.map {
  padding: 0 !important;
}

footer {
  background: #0e0f17;
  position: relative;
}
footer::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../media/footer-bg.jpg) no-repeat fixed center/cover;
  opacity: 0.1;
}
footer .footerContent {
  padding: 3.125rem 0 0;
}
footer .footerContent .footerCard {
  position: relative;
  z-index: 2;
  height: 100%;
}
footer .footerContent .footerCard .footerLogo {
  flex-direction: column;
}
footer .footerContent .footerCard .footerLogo img {
  max-width: 9.375rem !important;
}
footer .footerContent .footerCard .social {
  flex-wrap: wrap;
  gap: 0.75rem !important;
}
footer .footerContent .footerCard .social a {
  font-size: 1.125rem;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  margin: 0 !important;
  border-radius: 50%;
  margin: 0;
  transition: transform 0.6s ease-in-out;
}
footer .footerContent .footerCard .social a i {
  color: #ffffff;
}
footer .footerContent .footerCard .social .in {
  background-color: #0077b5;
}
footer .footerContent .footerCard .social .in:hover {
  background-color: rgb(0, 85.4696132597, 130);
}
footer .footerContent .footerCard .social .fb {
  background-color: #4267b2;
}
footer .footerContent .footerCard .social .fb:hover {
  background-color: rgb(52.2049180328, 81.4713114754, 140.7950819672);
}
footer .footerContent .footerCard .social .tw {
  background-color: #1da1f2;
}
footer .footerContent .footerCard .social .tw:hover {
  background-color: rgb(11.9665271967, 133.4728033473, 208.0334728033);
}
footer .footerContent .footerCard .social .insta {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
footer .footerContent .footerCard .social .insta:hover {
  background: linear-gradient(45deg, rgb(243.4931506849, 172.9178082192, 98.5068493151), rgb(227.0377358491, 35.9622641509, 166.4528301887));
}
footer .footerContent .footerCard .social .yt {
  background-color: #ff0000;
}
footer .footerContent .footerCard .social .yt:hover {
  background-color: #cc0000;
}
footer .footerContent .footerCard h5 {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 1.5rem;
  display: inline-block;
}
footer .footerContent .footerCard h5::after {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  content: "";
  z-index: 2;
  background: url(../media/stroke.svg) no-repeat;
}
footer .footerContent .footerCard p,
footer .footerContent .footerCard a,
footer .footerContent .footerCard span {
  font-size: 0.875rem;
  color: #ffffff;
  margin-bottom: commonUnit/2;
  display: block;
}
footer .footerContent .footerCard a:hover {
  color: #f1c143;
}
footer .footerContent .footerCard .contactChip {
  margin-bottom: 1.5rem;
}
footer .footerContent .footerCard .contactChip h6 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  display: block;
  margin-bottom: 0.5rem;
}
footer .footerContent .footerCard .contactChip span {
  color: #ffffff;
  display: block;
  margin-left: 1.5rem !important;
}
footer .footerContent .footerCard .contactChip p,
footer .footerContent .footerCard .contactChip a {
  margin: 0;
}
footer .footerContent .footerCard ul li {
  margin-bottom: 0.5rem;
}
footer .footerContent .footerCard ul li .socialIcon i {
  font-size: 1.125rem;
  background: linear-gradient(142deg, rgba(255, 255, 255, 0) 0%, white 100%);
  padding: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}
footer .copyright {
  font-size: 0.875rem;
  color: #ffffff;
  position: relative;
  z-index: 4;
  background: linear-gradient(132.78deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
  -webkit-backdrop-filter: blur(commonUnit/2);
  backdrop-filter: blur(commonUnit/2);
  padding: 1.5rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
}
footer .copyright .copyrightContent {
  flex-wrap: wrap;
}
footer .copyright .copyrightContent p {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 0;
}
footer .copyright .copyrightContent a {
  color: #f1c143;
}
footer .copyright .copyrightContent a:hover {
  color: #ffffff;
}
footer .copyright .copyrightContent .copyrightLinks {
  flex-wrap: wrap;
  gap: commonUnit/2;
}/*# sourceMappingURL=styles.css.map */