@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "default.scss";

// Nav
.navbar {
    background-color: $white;
    box-shadow: 0 2px 4px rgba($color: $dark, $alpha: 0.1);
    .nav-link,
    .dropdown-item {
        font-size: $medium;
        font-weight: 600;
        text-transform: uppercase;
        color: $gray;
        transition: color 0.3s ease;

        &:hover {
            color: $dark;
        }
    }
    .circleLink,
    .circleBtn {
        @extend .flex-center;
        background-color: $light;
        transition: all 0.3s ease;

        i {
            font-size: $xLarge + $xSmall / 2;
        }
        &:hover {
            background-color: $dark;
            color: $white !important;

            i {
                color: $white;
            }
        }
    }

    .circleLink {
        $wh: 3.125rem;
        width: $wh;
        height: $wh;
        border-radius: 50%;
    }
    .circleBtn {
        border-radius: $cardRadius * 2;
        padding: $commonUnit / 2 $commonUnit !important;
        gap: $commonUnit / 3;
    }
}
// Hero
.hero {
    min-height: 100vh;
    .swiper-slide {
        width: 100% !important;

        img {
            // width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
    .heroSlide {
        position: relative;
        // width: 100%;
        min-height: 100vh;
        @extend .flex-center;
        flex-direction: column;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $dark, $alpha: 0.6);
            content: "";
            z-index: 0;
        }

        .heroContent {
            position: relative;
            z-index: 2;
            max-width: 40.625rem;
            h6,
            h1,
            p {
                color: $white;
            }
            h6 {
                background: $dark;
                padding: $commonUnit / 2 $commonUnit;
                border-radius: $cardRadius / 3;
                display: inline-block;
            }
            h1 {
                font-size: $h1;
                font-weight: 800;
            }
        }
    }
    .paginationContainer {
        @extend .flex-center-between;
        position: absolute;
        bottom: 6.25rem;
        width: calc(100% - 30%);
        margin: 0 15%;

        .swiper-pagination {
            position: static !important;
            .swiper-pagination-bullet {
                background-color: $white;
            }
            .swiper-pagination-bullet-active {
                background-color: $secondary;
            }
        }
        .navigation {
            @extend .flex-center;
            gap: $commonUnit;

            .swiper-button-next,
            .swiper-button-prev {
                position: static !important;
                $wh: 3rem;
                width: $wh !important;
                height: $wh !important;
                // background-color: $white;
                border-radius: 50%;
                @extend .flex-center;
                color: $dark;

                &::after {
                    font-size: $medium;
                    font-weight: 600;
                }
            }
        }
    }
}
// about
.about {
    h2 {
        font-size: $h1;
        font-weight: 100;
        margin-bottom: $commonUnit;
        span {
            font-weight: 500;
        }
    }
    p {
        max-width: 52rem;
    }
    .collaborationCard {
        background-color: $white;
        padding: $commonUnit / 2;
        border: $commonBorder;
        border-radius: $cardRadius / 2;
        aspect-ratio: 1 / 1;
        min-height: 10rem;
        @extend .flex-center;

        img {
            max-width: 70% !important;
            object-fit: contain;
            display: block;
            margin: auto;
        }
    }
    .aboutVideo {
        @extend .flex-center-start;
        min-height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-top: $commonUnit * 3;
        border-radius: $cardRadius * 2;
        overflow: hidden;
        border: $commonUnit / 2 solid $white;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $dark, $alpha: 0.5);
            content: "";
            z-index: 1;
        }

        .videoBtn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background-color: $white;
        content: "";
        z-index: 1;
    }
}

// Why us
.whyUs {
    .whyUsCard {
        @extend .flex-start;
        gap: $commonUnit;
        background: $white;
        padding: $commonUnit;
        height: 100%;
        border: $commonBorder;
        border-radius: $commonUnit / 2;

        .icon {
            $wh: 5rem;
            min-width: $wh;
            min-height: $wh;
            background: $primary;
            @extend .flex-center;
            border-radius: 50%;

            i {
                font-size: $h3;
                color: $white;
            }
        }
        .whyUsContent {
            h3 {
                font-size: $h6;
                font-weight: 600;
                color: $dark;
                margin-bottom: $commonUnit / 3;
            }
            p {
                font-size: $medium;
                margin-bottom: 0;
            }
        }
    }
}

// Stats
.stats {
    .statCard {
        @extend .flex-center;
        flex-direction: column;
        gap: $commonUnit / 2;
        padding: $commonUnit;
        border: $commonBorder;
        border-radius: $cardRadius;

        i {
            font-size: $h1 + $small;
            color: $primary;
        }
        .statContent {
            text-align: center;

            h3 {
                font-size: $h2;
                color: $dark;
                margin: 0;
            }
            p {
                font-size: $medium;
                color: $gray;
                margin: 0;
            }
        }
    }
}

// projects
.projects {
    .projectCard {
        position: relative;
        background: $glossy;
        padding: $commonUnit;
        border: $commonBorder;
        border-radius: $cardRadius;
        transition: all 0.6s linear;

        .projectHeader {
            @extend .flex-center-between;
            margin-bottom: $commonUnit;
            h3 {
                font-size: $h6;
            }
            a {
                font-size: $xLarge;
                color: $dark;
                $wh: 3.125rem;
                width: $wh;
                height: $wh;
                border-radius: 50%;
                @extend .flex-center;
                background-color: $white;
            }
        }
        .projectMedia {
            border-radius: $cardRadius;
            overflow: hidden;

            img {
                display: block;
                transition: all 0.6s linear;
            }
        }
        &:hover {
            background: $glossy2;
            a {
                background-color: $dark;
                color: $white;
            }
            figure img {
                transform: scale(1.1);
            }
        }
    }
}
// blogs
.blogs {
    .blogCard {
        position: relative;
        background: $glossy;
        padding: $commonUnit;
        border: $commonBorder;
        border-radius: $cardRadius;
        transition: all 0.6s linear;
        .blogMedia {
            border-radius: $cardRadius;
            overflow: hidden;
            margin-bottom: $commonUnit;

            img {
                display: block;
                transition: all 0.6s linear;
            }
        }
        .blogBody {
            h3 {
                font-size: $h6;
            }
        }
        &:hover {
            background: $glossy2;

            figure img {
                transform: scale(1.1);
            }
        }
    }
}
// Testimonials
.testimonials {
    .testimonialContainer {
        position: relative;
        background: $glossy;
        padding: $commonUnit * 3;
        border: $commonBorder;
        border-radius: $cardRadius;
        transition: all 0.6s linear;
        overflow: hidden;
        .testimonialCard {
            p {
                font-size: $xLarge + 0.25rem;
                text-align: center;
            }
            .userInfo {
                text-align: center;

                h6 {
                    font-size: $h5;
                    margin-bottom: 0;
                }
                small {
                    font-size: $medium;
                    display: block;
                }
            }
        }
        .swiper.thumbs {
            .swiper-wrapper {
                @extend .flex-center;
                gap: $commonUnit;
                .swiper-slide {
                    border: none;
                    img {
                        $wh: 6.25rem;
                        max-width: $wh !important;
                        max-height: $wh !important;
                        border-radius: $cardRadius;
                    }
                }
                // &.swiper-slide-thumb-active img {
                //     transform: scale(1.5);
                // }
            }
        }
    }
}

// Certificates
.certificates {
    .certificateCard {
        background-color: $white;
        height: 100%;
        display: block;
        padding: $commonUnit;
        border: $commonBorder;
        border-radius: $cardRadius;

        figure {
            @extend .flex-start;
            margin-bottom: $commonUnit / 2;
            min-height: 18.75rem;
            img {
                width: 100% !important;
                height: 100% !important;
                object-fit: contain;
                // display: block;
                margin: 0 auto;
                transition: transform 0.8s ease;
                border-radius: $cardRadius;
            }
        }

        h6 {
            font-size: $large;
            text-align: center;
            margin: 0;
        }
        &:hover {
            box-shadow: $cardShadow;
        }
    }
}

// Footer
footer {
    background: $dark;
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        content: "";
        z-index: 1;
        width: 100%;
        height: 100%;
        background: url(../media/footer-bg.jpg) no-repeat fixed center/cover;
        opacity: 0.1;
    }
    .footerContent {
        padding: 3.125rem 0 0;

        .footerCard {
            position: relative;
            z-index: 2;
            padding: $commonUnit;
            height: 100%;

            .footerLogo {
                margin-bottom: $commonUnit * 2;
                img {
                    max-width: 9.375rem !important;
                }
            }

            h5 {
                font-size: $h6;
                text-transform: capitalize;
                color: $white;
                margin-bottom: $commonUnit;
                display: inline-block;

                &::after {
                    position: absolute;
                    bottom: -$commonUnit;
                    left: 0;
                    width: 100%;
                    height: 0.125rem;
                    content: "";
                    z-index: 2;
                    background: url(../media/stroke.svg) no-repeat;
                }
            }

            p,
            a,
            span {
                font-size: $medium;
                color: $white;
                margin-bottom: commonUnit / 2;
                display: block;
            }
            a:hover {
                color: $tertiary;
            }
            .contactChip {
                margin-bottom: $commonUnit;
                h6 {
                    font-size: $xLarge;
                    font-weight: 600;
                    color: $white;
                    display: block;
                    margin-bottom: $commonUnit / 3;
                }
                span {
                    color: $white;
                    display: block;
                    margin-left: 1.5rem !important;
                }

                p,
                a {
                    margin: 0;
                }
            }
            ul {
                li {
                    margin-bottom: $commonUnit / 3;

                    .socialIcon {
                        i {
                            font-size: $xLarge;
                            background: $glossy;
                            padding: $commonUnit / 2;
                            display: inline-block;
                            margin-right: 0.5rem;
                            border: 0.0625rem solid rgba($color: $white, $alpha: 0.1);
                            border-radius: $cardRadius / 4;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        font-size: $medium;
        color: $white;
        position: relative;
        z-index: 4;
        background: linear-gradient(
            132.78deg,
            rgba($color: $white, $alpha: 0.02) 0%,
            rgba($color: $white, $alpha: 0.02) 100%
        );
        -webkit-backdrop-filter: blur(commonUnit / 2);
        backdrop-filter: blur(commonUnit / 2);
        padding: $commonUnit;
        border-top: 0.0625rem solid rgba($color: $white, $alpha: 0.1);

        .copyrightContent {
            @extend .flex-center-between;
            flex-wrap: wrap;
            p {
                font-size: $medium;
                color: $white;
                margin: 0;
            }
            a {
                color: $secondary;
                &:hover {
                    color: $tertiary;
                }
            }
            .copyrightLinks {
                @extend .flex-center-start;
                flex-wrap: wrap;
                gap: commonUnit / 2;
            }
        }
    }
}
