// Main Theme
$primary: #444971;
$secondary: #415791;
$tertiary: #f1c143;
$dark: #000033;
$gray: #6a6d83;
$white: #ffffff;
$light: #ecedf1;
$border: #e4e4e4;
$glossy: linear-gradient(142deg, rgba($color: $white, $alpha: 0) 0%, rgba($color: $white, $alpha: 1) 100%);
$glossy2: linear-gradient(142deg, rgba($color: $white, $alpha: 0) 60%, rgba($color: $dark, $alpha: 0.3) 100%);
$glossy3:  linear-gradient(142deg, rgba($color: $white, $alpha: 0.02) 24%, rgba($color: $white, $alpha: 0.05) 100%);;


// Action Colors
$info: #679f9a;
$success: #06a25d;
$warning: #e2ca06;
$danger: #f11702;
